body {
  margin: 0;
}
$ali_main_color: rgb(255, 0, 55);
.ali-top-header {
  display: flex;
  flex-direction: row;
  height: 100px;
  .logo_menu {
    display: flex;
    flex-direction: row;
    margin-left: 235px;
    margin-top: 30px;
    .logo-menu__image {
      height: 37px;
    }
    .logo-menu__items {
      margin-top: 5px;
      margin-left: 15px;
      .logo-menu__image {
        height: 25px;
        background-color: lightgray;
      }
    }
  }

  .search {
    display: flex;
    flex-direction: column;
    .search-row {
      display: flex;
      flex-direction: row;
      margin-left: 160px;
      margin-top: 33px;
      border: 2px solid $ali_main_color;
      border-radius: 5px;
      height: 30px;

      .search-row__input {
        border: none;
        outline: none;
        margin-left: 10px;
        padding-right: 390px;
      }

      .search-row__icon {
        background-color: $ali_main_color;
        padding: 5px;
        height: 21px;
      }
    }

    .search__simillar_requests {
      margin-left: 162px;
      margin-top: 12px;
      font-size: 14px;
      .search__similar_requests_text {
        margin-left: 40px;
        color: grey;
        
        
      }
      .search__similar_requests_text:hover {
        color:$ali_main_color;
        text-decoration: underline $ali_main_color;
      }
    }
  }

  .ali-basket {
    margin-top: 30px;
    margin-left: 70px;

    .ali-basket__icon {
      height: 40px;
    }
  }
}

.ali-main-window {
  display: flex;
  flex-direction: row;
  background-color: rgb(236, 236, 236);
  height: 2000px;

  .ali-main-window__settings-menu {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 2000px;
    margin-left: 220px;
    background-color: white;
    font-family: Arial;

    .ali-main-window__settings-menu__brands {
      display: flex;
      flex-direction: column;
      height: 170px;
      margin-left: 12px;
      width: 225px;

      .unused-text {
        margin-top: 30px;
        font-weight: bold;
      }
      .ali-main-window__settings-menu__brandbox {
        height: 120px;
        width: 180px;
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .ali-main-window__settings-menu__brands__brand-element {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          margin-top: 6px;
          width: 60px;
          height: 30px;
          border: 1px solid lightgrey;
          margin-left: 10px;

          .ali-main-window__settings-menu__brands__brand-element__image {
            height: 22px;
          }
        }
      }
    }
    .ali-main-window__settings-menu__color-choice {
      display: flex;
      flex-direction: column;
      height: 160px;
      .unused-text {
        margin-left: 15px;
        font-weight: bold;
      }
      .ali-main-window__settings-menu__color-choice__checkboxes {
        display: flex;
        flex-direction: column;
        height: 160px;
        .ali-main-window__settings-menu__color-choice__checkboxes__element {
          margin-left: 10px;
          margin-top: 10px;
          font-size: 18px;
        }
      }
    }
    .ali-main-window__settings-menu__feature {
      display: flex;
      flex-direction: column;
      height: 200px;
      margin-top: 20px;
      .unused-text {
        margin-left: 15px;
        font-weight: bold;
      }
      .ali-main-window__settings-menu__feature__checkboxes {
        display: flex;
        flex-direction: column;
        height: 200px;
        .ali-main-window__settings-menu__feature__checkboxes__element {
          margin-left: 10px;
          margin-top: 10px;
          font-size: 18px;
        }
      }
    }
  }
  .ali-main-window__product-list {
    display: flex;
    flex-direction: column;
    width: 1700px;
    color: rgb(56, 56, 56);
    .ali-main-window__hierarchy-of-calls {
      display: flex;
      flex-direction: row;

      width: 700px;
      height: 40px;

      .ali-main-window__hierarchy-of-calls__element {
        margin-top: 10px;
        margin-left: 5px;
      }
      .ali-main-window__hierarchy-of-calls__element:hover {
        color: $ali_main_color;
        text-decoration: underline $ali_main_color;
      }
      .ali-main-window__hierarchy-of-calls__search-result {
        margin-top: 10px;
        margin-left: 5px;
        color: black;
        font-weight: bold;
      }
    }
    .ali-main-window__hierarchy-of-calls__count-of-results {
      margin-top: 10px;
      margin-left: 5px;
    }
    .ali-main-window__product-list__price-filter {
      display: flex;
      flex-direction: row;
      height: 40px;
      margin-left: 10px;
      .unused-text {
        margin-right: 10px;
        margin-top: 7px;
        margin-left: 10px;
      }
      .ali-main-window__product-list__price-filter__lower-price {
        height: 30px;
        width: 90px;
        border: 1px solid lightgrey;
        margin-right: 5px;
        .ali-main-window__product-list__price-filter__lower-price__input {
          background-color: rgb(236, 236, 236);
          width: 85px;
          margin-left: 5px;
          height: 30px;
          outline: none;
          border: none;
        }
      }
      .ali-main-window__product-list__price-filter__higher-price {
        height: 30px;
        width: 90px;
        border: 1px solid lightgrey;
        margin-left: 5px;
        .ali-main-window__product-list__price-filter__higher-price__input {
          background-color: rgb(236, 236, 236);
          width: 85px;
          margin-left: 5px;
          height: 30px;
          outline: none;
          border: none;
        }
      }
      .ali-main-window__product-list__price-filter__transport-menu {
        border: 1px solid lightgrey;
        height: 30px;
        width: 100px;
        margin-left: 40px;
        .ali-main-window__product-list__price-filter__transport-menu__options {
          border: none;
          background-color: rgb(236, 236, 236);
          height: 30px;
        }
      }
    }
    .ali-main-window__product-list__product-options {
      display: flex;
      flex-direction: row;
      height: 50px;
      .product-on-sale {
        margin-left: 15px;
        display: flex;
        flex-direction: row;
        .product-on-sale__checkbox {
          margin-top: 15px;
        }
        .product-on-sale__label {
          display: flex;
          flex-direction: row;
          margin-top: 5px;
          .unused-text {
            margin-top: 5px;
            font-size: 18px;
            margin-left: 5px;
          }
          .product-on-sale__label__icon {
            margin-left: 5px;
            height: 30px;
          }
        }
      }
      .free-shipping {
        margin-left: 15px;
        display: flex;
        flex-direction: row;
        .free-shipping__checkbox {
          margin-top: 15px;
        }
        .free-shipping__label {
          display: flex;
          flex-direction: row;
          margin-top: 5px;
          .unused-text {
            margin-top: 5px;
            font-size: 18px;
            margin-left: 5px;
          }
        }
      }
      .four-stars-or-more {
        margin-left: 15px;
        display: flex;
        flex-direction: row;
        .four-stars-or-more__checkbox {
          margin-top: 15px;
        }
        .four-stars-or-more__label {
          display: flex;
          flex-direction: row;
          margin-top: 5px;
          .unused-text {
            margin-top: 5px;
            font-size: 18px;
            margin-left: 5px;
          }
          .four-stars-or-more__label__icon {
            height: 20px;
          }
        }
      }
    }
    .ali-main-window__product-list__sort-wiew-menu {
      display: flex;
      flex-direction: row;
      .ali-main-window__product-list__sort-menu {
        display: flex;
        flex-direction: row;
        .unused-text {
          margin-top: 8px;
          font-size: 18px;
        }
        .ali-main-window__product-list__sort-menu__choicebox {
          display: flex;
          flex-direction: row;
          border: 2px solid rgb(87, 87, 87);
          padding: 5px;
          margin-left: 10px;
          .ali-main-window__product-list__sort-menu__choicebox__element__chosen {
            color: $ali_main_color;
            font-size: 18px;
          }
          .ali-main-window__product-list__sort-menu__choicebox__element {
            font-size: 18px;
            color: rgb(87, 87, 87);
            margin-left: 15px;
          }
          .ali-main-window__product-list__sort-menu__choicebox__element:hover {
            color:$ali_main_color;
            text-decoration: $ali_main_color;
          }
        }
      }
      .ali-main-window__product-list__wiew-menu {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        .unused-text {
          margin-top: 8px;
          font-size: 18px;
        }
        .ali-main-window__product-list__wiew-menu__chosen-wiew-style
        {
          .ali-main-window__product-list__wiew-menu__chosen-wiew-style__icon {
            height: 35px;
          }
        }
        .ali-main-window__product-list__wiew-menu__wiew-style
        {
          .ali-main-window__product-list__wiew-menu__wiew-style__icon {
            margin-top: 2px;
            height: 35px;
          }
        }
      }
    }
    .ali-main-window__product-list__products {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;
      height: 2000px;
      .ali-main-window__product-list__products__element {
        display: flex;
        flex-direction: column;
        height: 450px;
        width: 300px;
        margin-left: 20px;
        .ali-main-window__product-list__products__element__image {
          height:300px;
          border-radius: 30px;
        }
        .ali-main-window__product-list__products__element__name {
          color: rgb(61, 61, 61);
        }
        .ali-main-window__product-list__products__element__name:hover {
          color: $ali_main_color;
        }
        .ali-main-window__product-list__products__element__price {
          font-weight: bold;
          font-size: 30px;
        }
        .ali-main-window__product-list__products__element__shipping-method {
          color: grey;
        }
        .ali-main-window__product-list__products__element__rating-sold {
          display: flex;
          flex-direction: row;
          .ali-main-window__product-list__products__element__rating {
            display: flex;
            flex-direction: row;
            .ali-main-window__product-list__products__element__rating-icon {
              height: 20px;
            }
            .ali-main-window__product-list__products__element__rating-number {
              color: grey;
            }
          }
          .ali-main-window__product-list__products__element__sold {
            margin-left: auto;
          }
        }
        .ali-main-window__product-list__products__element__seller-name {
          text-decoration: underline;
        }
      }

    }
  }
}
